In [134]:
%run ANNOTATIONS.ipynb

In [135]:
%run PATTERN_OBSERVER.ipynb

In [136]:
from ipywidgets import Text,Output,GridspecLayout # for SINGLE_TAB
from ipywidgets import Tab,Layout # for TAB_COLLECTION

In [137]:
import pickle
a_file = open("data.pkl", "rb")
output = pickle.load(a_file)

In [138]:
import pandas as pd

In [139]:
output.keys()

dict_keys(['AZUL4.SA', 'BEEF3.SA', 'BRFS3.SA', 'CCRO3.SA', 'ECOR3.SA', 'EMBR3.SA', 'GOLL4.SA', 'JBSS3.SA', 'MRFG3.SA', 'RAIL3.SA', 'VALE3.SA', 'WEGE3.SA'])

In [140]:
output['AZUL4.SA']

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-07-05,44.71,44.99,44.25,44.35,44.35,1602600,0.0,1.0
1,2021-07-02,44.19,44.85,43.54,44.72,44.72,4515900,0.0,1.0
2,2021-07-01,44.02,44.32,43.15,43.96,43.96,4256400,0.0,1.0
3,2021-06-30,44.29,44.69,43.62,43.89,43.89,4981300,0.0,1.0
4,2021-06-29,45.11,45.55,43.70,44.53,44.53,4855400,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2021-02-17,42.86,43.60,42.46,43.33,43.33,2863100,0.0,1.0
96,2021-02-12,42.68,43.18,41.80,42.86,42.86,4010100,0.0,1.0
97,2021-02-11,42.91,44.34,42.64,43.04,43.04,5504700,0.0,1.0
98,2021-02-10,44.47,44.65,42.15,42.75,42.75,4654400,0.0,1.0
99,2021-02-09,44.30,44.78,43.71,44.30,44.30,5548600,0.0,1.0

In [141]:
def set_index_extraday(df):
    return df.set_index('timestamp')

In [142]:
pd.concat(map(set_index_extraday,output.values()),keys=list(output.keys()))

                      open   high    low  close  adjusted_close   volume  \
         timestamp
AZUL4.SA 2021-07-05  44.71  44.99  44.25  44.35         44.3500  1602600
         2021-07-02  44.19  44.85  43.54  44.72         44.7200  4515900
         2021-07-01  44.02  44.32  43.15  43.96         43.9600  4256400
         2021-06-30  44.29  44.69  43.62  43.89         43.8900  4981300
         2021-06-29  45.11  45.55  43.70  44.53         44.5300  4855400
...                    ...    ...    ...    ...             ...      ...
WEGE3.SA 2021-02-18  83.40  84.79  82.14  83.38         41.4587  5263800
         2021-02-17  85.87  85.99  82.62  83.95         41.7421  5975000
         2021-02-12  86.90  87.28  85.70  86.67         43.0946  2866300
         2021-02-11  86.64  88.65  86.64  87.00         43.2587  4089900
         2021-02-10  85.30  86.68  84.06  86.03         42.7764  4999500

                     dividend_amount  split_coefficient
         timestamp
AZUL4.SA 2021-07-05              0.0                1.0
         2021-07-02              0.0                1.0
         2021-07-01              0.0                1.0
         2021-06-30              0.0                1.0
         2021-06-29              0.0                1.0
...                              ...                ...
WEGE3.SA 2021-02-18              0.0                1.0
         2021-02-17              0.0                1.0
         2021-02-12              0.0                1.0
         2021-02-11              0.0                1.0
         2021-02-10              0.0                1.0

[1200 rows x 8 columns]

In [143]:
pd.concat([output['AZUL4.SA'].set_index(['timestamp','split_coefficient'])],keys='ab')

                                 open   high    low  close  adjusted_close  \
  timestamp  split_coefficient
a 2021-07-05 1.0                44.71  44.99  44.25  44.35           44.35
  2021-07-02 1.0                44.19  44.85  43.54  44.72           44.72
  2021-07-01 1.0                44.02  44.32  43.15  43.96           43.96
  2021-06-30 1.0                44.29  44.69  43.62  43.89           43.89
  2021-06-29 1.0                45.11  45.55  43.70  44.53           44.53
...                               ...    ...    ...    ...             ...
  2021-02-17 1.0                42.86  43.60  42.46  43.33           43.33
  2021-02-12 1.0                42.68  43.18  41.80  42.86           42.86
  2021-02-11 1.0                42.91  44.34  42.64  43.04           43.04
  2021-02-10 1.0                44.47  44.65  42.15  42.75           42.75
  2021-02-09 1.0                44.30  44.78  43.71  44.30           44.30

                                 volume  dividend_amount
  timestamp  split_coefficient
a 2021-07-05 1.0                1602600              0.0
  2021-07-02 1.0                4515900              0.0
  2021-07-01 1.0                4256400              0.0
  2021-06-30 1.0                4981300              0.0
  2021-06-29 1.0                4855400              0.0
...                                 ...              ...
  2021-02-17 1.0                2863100              0.0
  2021-02-12 1.0                4010100              0.0
  2021-02-11 1.0                5504700              0.0
  2021-02-10 1.0                4654400              0.0
  2021-02-09 1.0                5548600              0.0

[100 rows x 7 columns]

In [144]:
multi_index=pd.MultiIndex.from_product([['AZUL4.SA'],output['AZUL4.SA'].timestamp], names=['backtest_name','timestamp'])
out2=output['AZUL4.SA'].set_index(multi_index)
out2

                           timestamp   open   high    low  close  \
backtest_name timestamp
AZUL4.SA      2021-07-05  2021-07-05  44.71  44.99  44.25  44.35
              2021-07-02  2021-07-02  44.19  44.85  43.54  44.72
              2021-07-01  2021-07-01  44.02  44.32  43.15  43.96
              2021-06-30  2021-06-30  44.29  44.69  43.62  43.89
              2021-06-29  2021-06-29  45.11  45.55  43.70  44.53
...                              ...    ...    ...    ...    ...
              2021-02-17  2021-02-17  42.86  43.60  42.46  43.33
              2021-02-12  2021-02-12  42.68  43.18  41.80  42.86
              2021-02-11  2021-02-11  42.91  44.34  42.64  43.04
              2021-02-10  2021-02-10  44.47  44.65  42.15  42.75
              2021-02-09  2021-02-09  44.30  44.78  43.71  44.30

                          adjusted_close   volume  dividend_amount  \
backtest_name timestamp
AZUL4.SA      2021-07-05           44.35  1602600              0.0
              2021-07-02           44.72  4515900              0.0
              2021-07-01           43.96  4256400              0.0
              2021-06-30           43.89  4981300              0.0
              2021-06-29           44.53  4855400              0.0
...                                  ...      ...              ...
              2021-02-17           43.33  2863100              0.0
              2021-02-12           42.86  4010100              0.0
              2021-02-11           43.04  5504700              0.0
              2021-02-10           42.75  4654400              0.0
              2021-02-09           44.30  5548600              0.0

                          split_coefficient
backtest_name timestamp
AZUL4.SA      2021-07-05                1.0
              2021-07-02                1.0
              2021-07-01                1.0
              2021-06-30                1.0
              2021-06-29                1.0
...                                     ...
              2021-02-17                1.0
              2021-02-12                1.0
              2021-02-11                1.0
              2021-02-10                1.0
              2021-02-09                1.0

[100 rows x 9 columns]

In [145]:
out2.loc['AZUL4.SA']

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,,
2021-07-05,2021-07-05,44.71,44.99,44.25,44.35,44.35,1602600,0.0,1.0
2021-07-02,2021-07-02,44.19,44.85,43.54,44.72,44.72,4515900,0.0,1.0
2021-07-01,2021-07-01,44.02,44.32,43.15,43.96,43.96,4256400,0.0,1.0
2021-06-30,2021-06-30,44.29,44.69,43.62,43.89,43.89,4981300,0.0,1.0
2021-06-29,2021-06-29,45.11,45.55,43.70,44.53,44.53,4855400,0.0,1.0
...,...,...,...,...,...,...,...,...,...
2021-02-17,2021-02-17,42.86,43.60,42.46,43.33,43.33,2863100,0.0,1.0
2021-02-12,2021-02-12,42.68,43.18,41.80,42.86,42.86,4010100,0.0,1.0
2021-02-11,2021-02-11,42.91,44.34,42.64,43.04,43.04,5504700,0.0,1.0
2021-02-10,2021-02-10,44.47,44.65,42.15,42.75,42.75,4654400,0.0,1.0
2021-02-09,2021-02-09,44.30,44.78,43.71,44.30,44.30,5548600,0.0,1.0

In [621]:
class SINGLE_PLOT:
    def __init__(self,
        query=None,
        data=None
        ):
        self._query=query
        self._data=data
        self._times_drawn=0

        # build widget
        #self.widget=Output(layout=Layout(height='300px',width='10.5%'))
        self.widget=Output()
        self._draw()
        
    # draw
    def _draw(self):
        with self.widget:
            display(Text(self._data+str(self._times_drawn)))
            
    # clear and draw
    def redraw(self):
        self._times_drawn+=1 # increment counter
        self.widget.clear_output() # clear image
        self._draw()
        
    # update_data
    def update_data(self,new_data):
        self._data=new_data

In [622]:
a=SINGLE_PLOT(data='asdf')

In [624]:
display(a.widget)

Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': "Text(value='asdf0')", 'application/vnd…

In [627]:
a.redraw()

In [628]:
a.update_data('fdsa')

In [653]:
class SINGLE_TAB:
    def __init__(self,
        name        : str          = 'SINGLE_TAB',
        description : str          = 'SINGLE_TAB_DESCRIPTION',
        cols        : int          = 3,
        rows        : int          = 3,
        queries     : QUERIES      = None,
        data        : pd.DataFrame = None,
        ):
        
        self.name=name
        self.description=description
        self._cols=cols
        self._rows=rows
        self._queries=queries
        self._plots : Dict[Tuple[int,int],SINGLE_PLOT]={}
        self._times_drawn=0
        self.widget=GridspecLayout(n_rows=self._rows,n_columns=self._cols)
        
        # instantiate
        for r in range(self._rows):
            for c in range(self._cols):
                self._plots[(r,c)]=SINGLE_PLOT(data='asdf') # instantiate
                self.widget[r,c]=self._plots[(r,c)].widget # assign to gridspec
                
    '''update plotting data'''
    def update_data(self,new_data : pd.DataFrame) -> None :
        for x in self._plots.values():
            x.update_data(new_data)
            
    '''update all plots'''
    def redraw(self) -> None :
        self._times_drawn+=1
        
        for x in self._plots.values():
            x.redraw()

In [654]:
a=SINGLE_TAB()

In [655]:
a.widget

GridspecLayout(children=(Output(layout=Layout(grid_area='widget001'), outputs=({'output_type': 'display_data',…

In [659]:
a.redraw()

In [675]:
class TAB_COLLECTION(IObserver):
    def __init__(self,
        name        : str          = 'TAB_COLLECTION',
        description : str          = 'TAB_COLLECTION_DESCRIPTION',
        data        : pd.DataFrame = None,
        tabs        : TABS         = None,
        ):
        # defaults
        if tabs==None:
            tabs=[
                SINGLE_TAB('tab1'),
                SINGLE_TAB('tab2'),
                SINGLE_TAB('tab3'),
                SINGLE_TAB('tab4'),
            ]

        self.name=name
        self.description=description
        
        self._data=data # container for data
        self._tabs=tabs # contents of tab collection
        self._is_up_to_date=[True]*len(self._tabs) # nothing selected by default, all tabs up to date by default
        
        self.widget=self._make()
        
    ####################################
    # observer pattern
    ####################################
    # observer
    def react(self,
        subject_name : str,
        subject_info : object
        ) -> None :
        print('OBSERVER PATTERN',':',self.name,'REACTS','subject_name',subject_name)
        print('OBSERVER PATTERN',':',self.name,'REACTS','subject_info',subject_info)
        
        if subject_name=='DATA_CONTAINER':
            self._data=self._massage_data(subject_info)
            self._update(self._data)
            self._draw()
            #self._refresh_options(subject_info['all_backtests'])

    def _massage_data(self):
        pass
        #if self.name==''
    ####################################
    # buttons
    ####################################
    '''change active tab, update as needed'''
    def _onchange_tab(self,change) -> None :
        print(self.name,':','CLICK','NAME[',self._active_tab.name,'] INDEX[',self._active_tab_index,']')

        # handle delayed update
        if not self._is_up_to_date[self._active_tab_index]:
            print(self.name,':','UPDATE[DELAYED]','NAME[',self._active_tab.name,'] INDEX[',self._active_tab_index,']')
            self._active_tab.update_data(data)
            self._active_tab.redraw(self._data) # update this tab
            self._is_up_to_date[self._active_tab_index]=True # flag tab as up to date
            
        # logging
        self._logging()
        
    ####################################
    # GUI
    ####################################
    '''build tab collection'''
    def _make(self) -> None :
        # make tab collection
        out=Tab(
            children=[x.widget for x in self._tabs],
            layout=Layout(width='100%',height='auto',min_height='500px')
        )

        # name tabs
        for i,tab_name in enumerate(x.name for x in self._tabs):
            out.set_title(index=i,title=tab_name)
            
        # observe active tab
        out.observe(self._onchange_tab,names='selected_index')

        # return
        return out

    '''delayed update of tab collection, update active tab immediate, delay update of non-active tabs till when they are viewed'''
    def update(self,data : pd.DataFrame) -> None:
        # only update active tab, delay update of inactive tabs till they become active
        for i,tab in enumerate(self._tabs):
            if self._active_tab_index==i:
                print(self.name,':','UPDATE[INSTANT]','NAME[',self._active_tab.name,'] INDEX[',self._active_tab_index,']')
                tab.update_data(data)
                tab.redraw() # update this particular tab
                self._is_up_to_date[i]=True # flag is up to do date
            else:
                self._is_up_to_date[i]=False # flag these tabs as out of date, update when viewed
            
        # logging
        self._logging()
    
    @property
    def _active_tab_index(self) -> int :
        return self.widget.selected_index
    
    @property
    def _active_tab(self) -> str :
        return self._tabs[self._active_tab_index]
    
    @property
    def _times_drawn(self) -> List[int]:
        return [x._times_drawn for x in self._tabs]
    
    def _logging(self) -> None:
        # delayed updating
        print(self.name,':','compute times',self._times_drawn)
        print(self.name,':','is up to date',self._is_up_to_date)

# example
TAB_COLLECTION().widget

Tab(children=(GridspecLayout(children=(Output(layout=Layout(grid_area='widget001')), Output(layout=Layout(grid…

In [667]:
# example
a=TAB_COLLECTION(tabs=
    [
        SINGLE_TAB('a'),
        SINGLE_TAB('b'),
        SINGLE_TAB('c'),
        SINGLE_TAB('d'),
    ]
)
a.widget

# global delayed update
a._plot()

# request immediate update of specific tab
a.tabs[0].update()
a.tabs[0].update()
a.tabs[2].update()
a.tabs[2].update()
a.tabs[3].update()
'''

AttributeError: 'TAB_COLLECTION' object has no attribute 'redraw'